@charset "UTF-8";

.lista{
    max-width: 200px;
}
.lista img{
    width: 25%;
    border-radius: 50%;
}

.lista li{
    background-color: grey;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-radius: 5px 5px 5px 30px;
    padding: 10px;
    transition-property: transform;
    transition-duration: 0.2s;
}

.lista li:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.lista .ativo{
    background-color: lightcoral;
}


